# docker-compose.yml

version: '3.8'

services:
  sentiment-app:
    build: . # Costruisce l'immagine usando il Dockerfile nella cartella corrente
    container_name: sentiment-app
    ports:
      - "8000:8000"
    restart: always

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus:/etc/prometheus # Monta il file di configurazione
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    restart: always

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning # Monta la configurazione del datasource
    restart: always
